---
http_interactions:
- request:
    method: post
    uri: https://ci.appveyor.com/api/environments
    body:
      encoding: UTF-8
      string: '{"deploymentEnvironmentId":32724,"name":"production","provider":"FTP","settings":{"providerSettings":[{"name":"server","value":{"value":"ftp.server.com","isEncrypted":false}},{"name":"username","value":{"value":"ftp-user","isEncrypted":false}},{"name":"password","value":{"value":"password","isEncrypted":true}}],"environmentVariables":[{"name":"my-var","value":{"value":"123","isEncrypted":false}}]}}'
    headers:
      Authorization:
      - Bearer <APPVEYOR_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Deployment environment with specified name already exists."}'
  recorded_at: Sun, 26 Nov 2017 10:33:38 GMT
recorded_with: VCR 3.0.3
