---
http_interactions:
- request:
    method: get
    uri: https://ci.appveyor.com/api/environments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <APPVEYOR_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"deploymentEnvironmentId":7437,"name":"chef-appveyor-ci-cookbook","provider":"Agent"},{"deploymentEnvironmentId":10988,"name":"dev","provider":"Agent"},{"deploymentEnvironmentId":32724,"name":"production","provider":"FTP"},{"deploymentEnvironmentId":12193,"name":"production-i1tsnr7ywvmh4f6","provider":"FTP"},{"deploymentEnvironmentId":12189,"name":"production-iygklxsu6jh2btz","provider":"FTP"},{"deploymentEnvironmentId":10989,"name":"test","provider":"Agent"}]'
  recorded_at: Sun, 26 Nov 2017 10:33:51 GMT
recorded_with: VCR 3.0.3
