---
http_interactions:
- request:
    method: get
    uri: https://ci.appveyor.com/api/environments/32724/settings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <APPVEYOR_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"environment":{"deploymentEnvironmentId":32724,"accountId":33256,"name":"production","provider":"FTP","environmentAccessKey":"wp9b7xrpqatdb8pw","settings":{"providerSettings":[{"name":"server","value":{"isEncrypted":false,"value":"ftp.acme.com"}},{"name":"username","value":{"isEncrypted":false,"value":"ftp-user"}},{"name":"password","value":{"isEncrypted":true,"value":"password"}}],"environmentVariables":[{"name":"my-var","value":{"isEncrypted":false,"value":"123"}}],"notifications":[]},"projectsMode":0,"selectedProjects":[],"projects":[{"projectId":232326,"name":"asp_core","isSelected":false},{"projectId":223829,"name":"chef-appveyor-ci","isSelected":false},{"projectId":253781,"name":"chef-opsview-client","isSelected":false},{"projectId":333095,"name":"ruby_rbenv","isSelected":false}],"securityDescriptor":{"accessRightDefinitions":[{"name":"View","description":"View"},{"name":"Deploy","description":"Deploy
        build"},{"name":"Update","description":"Update"},{"name":"Delete","description":"Delete"}],"roleAces":[{"roleId":53960,"name":"Administrator","isAdmin":true,"accessRights":[{"name":"View","allowed":true},{"name":"Deploy","allowed":true},{"name":"Update","allowed":true},{"name":"Delete","allowed":true}]},{"roleId":53961,"name":"User","isAdmin":false,"accessRights":[{"name":"View"},{"name":"Deploy"},{"name":"Update"},{"name":"Delete"}]}]},"tags":"","created":"2017-11-26T10:20:56.8583727+00:00","updated":"2017-11-26T10:33:40.2179413+00:00"}}'
  recorded_at: Sun, 26 Nov 2017 10:33:50 GMT
recorded_with: VCR 3.0.3
