---
http_interactions:
- request:
    method: get
    uri: https://ci.appveyor.com/api/environments/12168/settings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <APPVEYOR_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"environment":{"deploymentEnvironmentId":12168,"accountId":33256,"name":"production","provider":"FTP","environmentAccessKey":"uleclq8bxva4oc3x","settings":{"providerSettings":[{"name":"server","value":{"isEncrypted":false,"value":"ftp.server.com"}},{"name":"username","value":{"isEncrypted":false,"value":"ftp-user"}},{"name":"password","value":{"isEncrypted":true,"value":"password"}}],"environmentVariables":[{"name":"my-var","value":{"isEncrypted":false,"value":"123"}}],"notifications":[]},"projectsMode":0,"selectedProjects":[],"projects":[{"projectId":232326,"name":"asp_core","isSelected":false},{"projectId":223829,"name":"chef-appveyor-ci","isSelected":false},{"projectId":253781,"name":"chef-opsview-client","isSelected":false}],"securityDescriptor":{"accessRightDefinitions":[{"name":"View","description":"View"},{"name":"Deploy","description":"Deploy
        build"},{"name":"Update","description":"Update"},{"name":"Delete","description":"Delete"}],"roleAces":[{"roleId":53960,"name":"Administrator","isAdmin":true,"accessRights":[{"name":"View","allowed":true},{"name":"Deploy","allowed":true},{"name":"Update","allowed":true},{"name":"Delete","allowed":true}]},{"roleId":53961,"name":"User","isAdmin":false,"accessRights":[{"name":"View"},{"name":"Deploy"},{"name":"Update"},{"name":"Delete"}]}]},"created":"2016-11-28T12:49:18.8589298+00:00"}}'
  recorded_at: Mon, 28 Nov 2016 14:28:02 GMT
recorded_with: VCR 3.0.3
