---
http_interactions:
- request:
    method: get
    uri: https://ci.appveyor.com/api/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <APPVEYOR_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"projectId":333095,"accountId":33256,"accountName":"damacus","builds":[{"buildId":9730105,"jobs":[],"buildNumber":60,"version":"1.0.60","message":"Remove
        centos 6 platform on travis. Build slave gets terminated...","branch":"master","isTag":false,"commitId":"f3007d040263340ac8040e0228433d1267a8e2eb","authorName":"Dan
        Webb","authorUsername":"damacus","committerName":"Dan Webb","committerUsername":"damacus","committed":"2017-07-16T22:45:24+00:00","pullRequestId":"169","pullRequestName":"Switch
        LWRPs to custom resources","messages":[],"status":"failed","started":"2017-07-16T22:45:59.779487+00:00","finished":"2017-07-16T22:48:03.2963205+00:00","created":"2017-07-16T22:45:50.6234569+00:00","updated":"2017-07-16T22:48:03.2963205+00:00"}],"name":"ruby_rbenv","slug":"ruby-rbenv","repositoryType":"gitHub","repositoryScm":"git","repositoryName":"sous-chefs/ruby_rbenv","repositoryBranch":"master","isPrivate":false,"skipBranchesWithoutAppveyorYml":false,"enableSecureVariablesInPullRequests":false,"enableSecureVariablesInPullRequestsFromSameRepo":false,"enableDeploymentInPullRequests":false,"saveBuildCacheInPullRequests":false,"rollingBuilds":false,"rollingBuildsDoNotCancelRunningBuilds":false,"alwaysBuildClosedPullRequests":false,"tags":"","nuGetFeed":{"id":"ruby-rbenv-8b56iutoowu2","name":"Project
        ruby_rbenv","accountId":33256,"projectId":333095,"isPrivateProject":false,"publishingEnabled":false,"created":"2017-06-27T10:09:54.5493498+00:00"},"securityDescriptor":{"accessRightDefinitions":[{"name":"View","description":"View"},{"name":"RunBuild","description":"Run
        build"},{"name":"Update","description":"Update settings"},{"name":"Delete","description":"Delete
        project"}],"roleAces":[{"roleId":53960,"name":"Administrator","isAdmin":true,"accessRights":[{"name":"View","allowed":true},{"name":"RunBuild","allowed":true},{"name":"Update","allowed":true},{"name":"Delete","allowed":true}]},{"roleId":53961,"name":"User","isAdmin":false,"accessRights":[{"name":"View"},{"name":"RunBuild"},{"name":"Update"},{"name":"Delete"}]}]},"created":"2017-06-27T10:09:53.2525214+00:00","updated":"2017-06-27T10:24:17.2305385+00:00"},{"projectId":232326,"accountId":33256,"accountName":"damacus","builds":[{"buildId":5925847,"jobs":[],"buildNumber":49,"version":"1.0.49","message":"Update
        to .net core 1.0.1","branch":"v0.1.5","tag":"v0.1.5","isTag":true,"commitId":"ff4ed9f3191f9573bba0f78735569ef85ce29fd0","authorName":"Dan
        Webb","authorUsername":"damacus","committerName":"Dan Webb","committerUsername":"damacus","committed":"2016-12-01T14:08:25+00:00","messages":[],"status":"success","started":"2016-12-01T14:11:39.4749744+00:00","finished":"2016-12-01T14:14:20.637951+00:00","created":"2016-12-01T14:09:17.9584758+00:00","updated":"2016-12-01T14:14:20.637951+00:00"}],"name":"asp_core","slug":"asp-core","repositoryTyp[...]
[...]
