---
http_interactions:
- request:
    method: get
    uri: https://ci.appveyor.com/api/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <APPVEYOR_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"projectId":223829,"accountId":33256,"accountName":"damacus","builds":[{"buildId":5907305,"jobs":[],"buildNumber":45,"version":"1.0.45","message":"Merge
        branch ''master'' of github.com:damacus/chef-appveyor-ci","branch":"master","isTag":false,"commitId":"40e8d0d01b635ccea95c08ec3ecf72cca44af312","authorName":"Dan
        Webb","authorUsername":"damacus","committerName":"Dan Webb","committerUsername":"damacus","committed":"2016-11-30T11:52:59+00:00","messages":[],"status":"success","started":"2016-11-30T11:53:22.57891+00:00","finished":"2016-11-30T11:55:56.7281495+00:00","created":"2016-11-30T11:53:12.5008694+00:00","updated":"2016-11-30T11:55:56.7281495+00:00"}],"name":"chef-appveyor-ci","slug":"chef-appveyor-ci","repositoryType":"gitHub","repositoryScm":"git","repositoryName":"damacus/chef-appveyor-ci","repositoryBranch":"master","isPrivate":false,"skipBranchesWithoutAppveyorYml":false,"enableSecureVariablesInPullRequests":false,"enableSecureVariablesInPullRequestsFromSameRepo":false,"enableDeploymentInPullRequests":false,"rollingBuilds":false,"alwaysBuildClosedPullRequests":false,"tags":"","nuGetFeed":{"id":"chef-appveyor-ci-t9dx8kkf68cy","name":"Project
        chef-appveyor-ci","publishingEnabled":false,"created":"2016-08-11T13:00:47.2683649+00:00"},"securityDescriptor":{"accessRightDefinitions":[{"name":"View","description":"View"},{"name":"RunBuild","description":"Run
        build"},{"name":"Update","description":"Update settings"},{"name":"Delete","description":"Delete
        project"}],"roleAces":[{"roleId":53960,"name":"Administrator","isAdmin":true,"accessRights":[{"name":"View","allowed":true},{"name":"RunBuild","allowed":true},{"name":"Update","allowed":true},{"name":"Delete","allowed":true}]},{"roleId":53961,"name":"User","isAdmin":false,"accessRights":[{"name":"View"},{"name":"RunBuild"},{"name":"Update"},{"name":"Delete"}]}]},"created":"2016-08-11T13:00:44.7683556+00:00","updated":"2016-11-30T11:25:35.9577611+00:00"},{"projectId":253781,"accountId":33256,"accountName":"damacus","builds":[{"buildId":5827807,"jobs":[],"buildNumber":17,"version":"1.0.17","message":"Rubocopping"[...]
[...]
